/*A FAIRE
- php pour header et footer
- js pour aside ? https://stackoverflow.com/questions/2805404/preventing-element-from-displaying-on-top-of-footer-when-using-positionfixed*/

/*Style h1, defini dans balise de titre h1 dans le fichier CV_v1*/
/*Style a, defini meta/style dans le fichier CV_v1*/

/*  DarkGrey  : #21201f; shadow : #1c1a19;
    LightGRay : #949494; shadow : #1c1a19;
    LightBlue : #dae6f2
    Dore      : #987625
    Pink      :;
    h,d,b,g
    */
@font-face {
    font-family: 'fanwoodregular';
    src: url('typo/Fanwood-webfont.eot');
    src: url('typo/Fanwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Fanwood-webfont.woff2') format('woff2'),
         url('typo/Fanwood-webfont.woff') format('woff'),
         url('typo/Fanwood-webfont.ttf') format('truetype'),
         url('typo/Fanwood-webfont.svg#fanwoodregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'purisa';
    src: url('typo/purisa-webfont.eot');
    src: url('typo/purisa-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/purisa-webfont.woff2') format('woff2'),
         url('typo/purisa-webfont.woff') format('woff'),
         url('typo/purisa-webfont.ttf') format('truetype'),
         url('typo/purisa-webfont.svg#purisa') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
	/*border: 1px solid green;*/
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
body
{
	font-family: fanwoodregular, "Courier New", sans-serif;
	background-color: #dae6f2; /* #c5dbf2,#EFEFEF;*/
	color: #000000;
}
p,h2
{
	margin-bottom: 1em;
}
footer p,footer h2, aside p, aside h2
{
	margin-bottom: 0.2em;
}
figcaption
{
	font-family: purisa, fanwoodregular, "Courier New", sans-serif;
	font-size: 0.7em;
	font-style: italic;
}
figure
{
	margin: 10px 0px 10px 0px ;
	text-align: center;

}
#Bloc_principal
{
	width: 90%;
	margin: auto;
}
header
{
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	background-color: #21201f;/*444 #a6a6a  421201f,#80807e,#c5c5c3;#008080,#c5c5c3, #978888*/;
	box-shadow: 0px 4px 4px #1c1a19;
	padding: 4px 0px 0px 0px; /*h,d,b,g*/
	margin-top: 6px;
	color: #dae6f2; 
}
header h1
{
	margin: 2px 2px 2px 2px; /*h,d,b,g*/
}
#ID_principal
{
	display: flex;
	flex-direction: column;
	height: auto;
}
#ID_principal_part1 
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.domain img
{
    width: 20px; /*158px*/ 
}
#ID_principal small
{
	font-style: italic;
}
#ID_principal_part2 
{
	align-self: flex-end;
	width: 60%;
}
#ID_principal_part2 nav ul
{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #dae6f2;
}
#ID_principal_part2 ul li
{
	position: relative; 
}
#ID_principal_part2 ul li ul
{
	display: none;
	position: absolute;
	background-color: #21201f;
	border-radius: 0px 0px 5px 5px;
}
#ID_principal_part2 ul li:hover ul
{
	display: block;
}
#ID_principal_part2 ul li ul li
{
	width: 280px;
}
#ID_principal_part2 ul li ul li a
{
	padding: 4px 4px;
	text-transform: none;
}
header nav a
{
	text-transform: uppercase;
	color: #dae6f2;
	font-family: purisa, fanwoodregular, "Courier New", sans-serif;
}
#Image_Banniere
{
    height: 122px;
    width: auto;
    background: url('images/header_banderole.png') repeat;
    background-size: contain;
    border-radius: 5px;
}
section
{
	display: flex;
	margin-bottom: 50px;
	/*position: relative;*/
}
article
{
	margin: 10px 250px 0px 0px; /*h,d,b,g*/
	padding-right: 10px;
	flex:3;
	/*width: 85%;*/
	text-align: justify;
	-webkit-column-width: 20em; /* Opera, Safari, Google Chrome */
    -moz-column-width: 20em; /* Firefox */
    column-width: 20em; /* Internet Explorer */
    -webkit-column-rule: 1px dashed #7f858a;
    -moz-column-rule: 1px dashed #7f858a;
    column-rule: 1px dashed #7f858a;
    
}
aside
{
	border-radius: 5px;
    padding: 5px 0px 0px 20px;
    margin: 10px 0 10px 0px;
    background-color: #7f858a; /*LBG:7f858a, DY:9f9d5c, LG:949494, 402a8d#bf5050,#81322d #800000,#e57878*/
    box-shadow: 4px 4px 4px #1c1a19; /*#c76666; c70202*/;
    color: #21201f; /*LightGray : 21201f;*/
	width: 220px;
	position: absolute;
	right: 5%;
	/*height: auto;*/
	/*position: fixed;*/
	/*right: 5%;*/
}
a
{
	color: #000000;
	font-style: normal;
	text-decoration: none;
}
a:hover, cite
{
  font-weight: bold;
}
header a:hover
{
  color: #21201f; 
  background-color: #dae6f2;
  font-weight: bold;
}
.domain a:hover
{
  background-color: #21201f;
}
section article h1
{
	font-size: 2em;
	-webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}
/*style="width:20em"*/
.ImgResponsive3Col
{
  width: 100%;
  height: auto;
  max-width: 100%
}
/*Footer*/
footer
{
	display: flex;
	flex-direction: column;
	background-color: #7f858a; 
	margin-bottom: 50px;
	padding: 10px 10px 10px 10px;
	margin: : 10px 10px 10px 10px;
	z-index: 1;
	color: #21201f; 
	border-radius: 5px;
	box-shadow: 4px 4px 4px #1c1a19;
	clear: both;

}
footer div
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-content: center;
}
footer div div
{
	display: flex;
	flex-direction: column;
	min-width: 260px;
}
#footer_image img
{
    width: 100px;
    height: 100px;
    /*border-bottom: 1px solid #dae6f2;
    border-left: 1px solid #dae6f2;*/
}
#footer_webdesigne
{
	margin: 10px 300px 0px 300px; /*h,d,b,g*/
	padding-top: 5px;
	border-top: 1px solid #dae6f2
}
footer a
{
	color: #dae6f2;
}
/*CV*/
.SousBlocFixed
{
	display: flex;
	flex-direction: column;
	right: 0; 
}
.SousSousBlocFixed_head
{
	text-align: center;
	margin-top: 8px;
	font-size: 1.2em;
}
.SousSousBlocFixed_3Col
{
	display: flex;
	flex-direction: row;
}
.SousSousBlocFixed_3Col div
{
	padding: 5px 0px 0px 20px;
	width: 32%;
}
#CV
{
	background-color: #7f858a;
}
#CV div
{
	border-right: 1px solid  #21201f;
}
#Publications div
{
	border-right: 1px dashed #7f858a;
}
#Bloc_secondaire
{
	display: flex;
	flex-direction: row;
}
#SousBloc_lisere
{
	min-width: 60px;
	max-width: 60px;
	border-radius: 10px;
	background-color: #21201f;
	position: relative;
	box-shadow: 4px 4px 4px #1c1a19;
	margin: 8px 8px 0px 0px;
}
#SousBloc_lisere span
{
	width: 500px;
	font-size: 2.5em;
	font-style: italic;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    top: 50%;
    left: -220px;
    position: absolute;
    text-align: center;
    color: #987625; /*dorée*/
    font-family: purisa, fanwoodregular, "Courier New", sans-serif;
    font-weight: bold;
}
.BlocFixed_FullPage
{
	margin: 10px 0px 0px 0px;
	-webkit-column-width: auto; /* Opera, Safari, Google Chrome */
    -moz-column-width: auto; /* Firefox */
    column-width: auto; /* Internet Explorer */
}
#Message
{
	width: 100%;
}
.PinkBackground /*in CV*/
{
	background-color: #8a2b19; /*Brique : 803017, Zo: #bf5050*/
}
.GrayBackground,.NoBackground  /*in Skills*/
{
	margin: 0px 10px 0px 10px;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px dashed #7f858a;
}

/*Pour responsive website*/
@media screen and (max-width: 800px)
{
    /*#Bloc_principal
    {
    	width: auto;
    } deja le cas*/
    #ID_principal_part1 img, #ID_principal small, #SousBloc_lisere, #Image_Banniere, #footer_publi
	{
    	display: none;
	}
    section, .SousSousBlocFixed_3Col
    {
    	flex-direction: column;
    }
    article
    {
    	width: 100%;
    }
    aside
    {
    	width: 95%;
    	height: auto;
    	position: relative;
    	margin-left: 5%;
    }
    /*header
    {
    	position: relative;
    }*/
    header nav ul
	{
		font-size: 0.9em;
	}
	.SousSousBlocFixed_3Col div
    {
    	width: auto;
    	border-bottom: 2px solid black;
    	/*font-size: 1.3em;*/
    }
    #CV div, #Publications div
	{
		border-right: 2px solid  #dae6f2;
	}
	#ID_principal_part2/*header nav*/
	{
		width: 100%;
	}
	#footer_webdesigne
	{
		margin: auto;
		padding: auto;
	}
	footer div div
	{
		min-width: auto;
		width: auto;
	}

}